{% extends 'base.html.twig' %}

{% block title %} {{'About'|trans}} {{ parent() }} {% endblock title %}

{% block header %}<h1>{{'About_page' |trans}}</h1>{% endblock header %}

{% block body %}
    <img class='massire-img' src='/images/Massire_nice.webp'>
{% endblock body %}