{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }} {% endblock %}


{% block header %}  <h1>Home Page</h1> {% endblock header %}

{% block body %}

    {% if isNewYear %}
        <p>Heureuse Nouvelle année</p>
    {% else %}
        <p>Oup's Il reste {{ dayLeft }} jours avant la nouvelle année en Europe/Paris</p>
    {% endif %}
{% endblock body %}
 

