{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }} {% endblock %}


{% block body %}

{% block header %}  <h1>Home Page</h1> {% endblock header %}

    <p>Oup's Il reste {{ dayLeft }} jours avant la nouvelle année en Europe/Paris</p>

{% endblock body %}
 

