{% extends 'base.html.twig' %}

{% block title %}Home {{ parent() }} {% endblock %}


{% block header %} 
    {% if isNewYear %}
        <h1>Heureuse Nouvelle année {{'now' | date('d/m/Y H:i:s', timezone)}}</h1>
    {% else %}
        <h1>Oup's Il reste {{ dayLeft }} jours avant la nouvelle année en {{ timezone }}</h1>
    {% endif %} {% endblock header %}


 

