*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
  height: 100vh;
}
.main-block{
  height: 100%;
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: minmax(40px, 80px) minmax(30px, 40px) repeat(2, 1fr);
}
nav{

  /* background-color: orange; */
}


header{
  /* background-color: green; */
  text-align: center;
}
footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* background-color: yellow; */
}

.massire-img{
  width: 150px;
}
.nav-link{
  display: flex;
    justify-content: space-between;
}
.locale{
  display: flex;
  gap: 10px;
}
.locale a{
  text-decoration: none;
}
.locale li{
  list-style: none;
}